
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departments</title>
    <link rel="stylesheet" href="css/style4.css">
</head>
<body>

<nav>
    <h2>🏥 Departments</h2>
    <a href="/admin-dashboard">Dashboard</a>
</nav>

<div class="container">
    <div class="cards">
        <div class="card">
            <h3>❤️ Cardiology</h3>
            <p>Heart related treatment.</p>
        </div>

        <div class="card">
            <h3>🧴 Dermatology</h3>
            <p>Skin related treatment.</p>
        </div>

        <div class="card">
            <h3>🩺 General Medicine</h3>
            <p>General health consultation.</p>
        </div>
    </div>
</div>

</body>
</html>

