
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescription</title>
    <link rel="stylesheet" href="css/style8.css">
</head>
<body>

<nav>
    <h2>💊 Prescription</h2>
    <a href="/patient-dashboard">Dashboard</a>
</nav>

<div class="container">
    <div class="card">
        <h3>Prescription</h3>
        <p><b>Doctor:</b> Dr. Rahul Sharma</p>
        <p><b>Medicine:</b> Medicine A</p>
        <p><b>Dosage:</b> 1 tablet twice daily</p>
        <p><b>Duration:</b> 5 Days</p>
    </div>
</div>

</body>
</html>

